-- DropForeignKey
ALTER TABLE "public"."bookings" DROP CONSTRAINT "bookings_user_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."bookings" DROP CONSTRAINT "bookings_vehicle_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."reviews" DROP CONSTRAINT "reviews_user_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."reviews" DROP CONSTRAINT "reviews_vehicle_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."vehicle_returns" DROP CONSTRAINT "vehicle_returns_booking_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."vehicle_returns" DROP CONSTRAINT "vehicle_returns_processed_by_fkey";

-- DropForeignKey
ALTER TABLE "public"."trip_initiations" DROP CONSTRAINT "trip_initiations_booking_id_fkey";

-- DropForeignKey
ALTER TABLE "public"."payments" DROP CONSTRAINT "payments_booking_id_fkey";

-- DropIndex
DROP INDEX "public"."bookings_booking_id_key";

-- AlterTable
ALTER TABLE "public"."bookings" DROP COLUMN "aadhar_scan",
DROP COLUMN "agreement_scan",
DROP COLUMN "alternate_phone",
DROP COLUMN "customer_name",
DROP COLUMN "dl_expiry_date",
DROP COLUMN "dl_number",
DROP COLUMN "dl_scan",
DROP COLUMN "due_amount",
DROP COLUMN "email",
DROP COLUMN "notes",
DROP COLUMN "original_dl_verified",
DROP COLUMN "paid_amount",
DROP COLUMN "payment_method",
DROP COLUMN "payment_reference",
DROP COLUMN "permanent_address",
DROP COLUMN "phone_number",
DROP COLUMN "purpose_of_rent",
DROP COLUMN "registration_number",
DROP COLUMN "security_deposit_amount",
DROP COLUMN "selfie",
DROP COLUMN "terms_accepted",
DROP COLUMN "vehicle_model",
DROP COLUMN "voter_id_verified",
ADD COLUMN     "dropoff_location" JSONB,
ADD COLUMN     "payment_details" JSONB,
ADD COLUMN     "payment_intent_id" TEXT,
ADD COLUMN     "pickup_location" JSONB,
ADD COLUMN     "security_deposit" DECIMAL(10,2) DEFAULT 0,
ADD COLUMN     "total_hours" DOUBLE PRECISION,
ALTER COLUMN "booking_id" DROP NOT NULL,
ALTER COLUMN "start_date" SET DATA TYPE TIMESTAMP(6),
ALTER COLUMN "end_date" SET DATA TYPE TIMESTAMP(6),
ALTER COLUMN "total_price" DROP NOT NULL,
ALTER COLUMN "total_price" SET DATA TYPE DOUBLE PRECISION,
ALTER COLUMN "booking_type" DROP NOT NULL,
ALTER COLUMN "booking_type" SET DATA TYPE VARCHAR(20),
ALTER COLUMN "created_at" SET DATA TYPE TIMESTAMP(3),
ALTER COLUMN "updated_at" DROP DEFAULT,
ALTER COLUMN "updated_at" SET DATA TYPE TIMESTAMP(3);

-- DropTable
DROP TABLE "public"."trip_initiations";

-- DropTable
DROP TABLE "public"."payments";

-- CreateIndex
CREATE INDEX "idx_bookings_payment_intent_id" ON "public"."bookings"("payment_intent_id" ASC);

-- AddForeignKey
ALTER TABLE "public"."bookings" ADD CONSTRAINT "bookings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."bookings" ADD CONSTRAINT "bookings_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "public"."vehicles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."reviews" ADD CONSTRAINT "reviews_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."reviews" ADD CONSTRAINT "reviews_vehicle_id_fkey" FOREIGN KEY ("vehicle_id") REFERENCES "public"."vehicles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."vehicle_returns" ADD CONSTRAINT "vehicle_returns_booking_id_fkey" FOREIGN KEY ("booking_id") REFERENCES "public"."bookings"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."vehicle_returns" ADD CONSTRAINT "vehicle_returns_processed_by_fkey" FOREIGN KEY ("processed_by") REFERENCES "public"."users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

