@font-face {
  font-family: 'Goodtimes';
  src: url('/fonts/goodtimes.woff2') format('woff2'),
       url('/fonts/goodtimes.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-goodtimes {
  font-family: 'Goodtimes', sans-serif;
} 